

<div class="container">
  <div class="jumbotron">
    <h1>Project JXS-JXW</h1>
    <h2>File sharing</h2>
  </div>
</div>

<div class="container">
  <div class="col-lg-3">
    <app-lateral-panel></app-lateral-panel>

    <nav>
      <a routerLink="/home">home</a>
      <a routerLink="/fichier-detail">fichier-detail2</a>
    </nav>
  </div>
  <div class="col-lg-9">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="container">
  <div>
    <app-fichier-detail></app-fichier-detail>
  </div>
</div>
