<!--<div *ngIf="fs.startDisplay">-->
<div class="container">
  <div class="container">
    <h2> My Files </h2>
  </div>
  <div class="container">
    <ul *ngIf="files" class="list-group row file">
      <li *ngFor="let FileClass of files.files"
          [class.selected]="FileClass === selectedFile"
          (click)="onSelect(FileClass)" class="list-group-item col-md-4">
        <div *ngIf="!FileClass.isFolder">
          <p><span class="glyphicon glyphicon-file"></span></p>
        </div>
        <div *ngIf="FileClass.isFolder">
          <p><span class="glyphicon glyphicon-folder-open"></span></p>
        </div>
        <a (click)="onSelect(FileClass)">
          {{FileClass.name}}
        </a>
      </li>
    </ul>
  </div>
</div>
<button (click)="back()">Back</button>
<!--</div>-->
