<!--<div *ngIf="fs.startDisplay">-->
<div class="container">
  <div class="container">
    <h2> My Files </h2>
  </div>
  <div class="container">
    <ul *ngIf="files" class="list-group row file">
      <li *ngFor="let FileClass of files.files"
          [class.selected]="FileClass === selectedFile"
          (click)="onSelect(FileClass)" class="list-group-item col-md-4">
        <div *ngIf="!FileClass.isFolder">
          <span class="glyphicon glyphicon-file"></span>
        </div>
        <div *ngIf="FileClass.isFolder">
        <span class="glyphicon glyphicon-folder-open"></span>
        </div>
        <a >
          {{FileClass.name}}
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="bottom-bar">
  <button (click)="back()"  class="btn"><span class="glyphicon glyphicon-arrow-left"></span>Back</button>
  <button (click)="refresh()"  class="btn" >Home<span class="glyphicon glyphicon-home"></span></button>
</div>

<!--</div>-->
